colorama==0.4.6
flask-markdown==0.3
frozen-flask==0.18
gevent==24.11.1
langchain-chroma==0.2.2
langchain-community==0.3.1
langchain-huggingface==0.1.0
langchain-ollama==0.2.0
langchain-openai==0.2.0
langgraph==0.2.28
matplotlib==3.9.2
pip-chill==1.0.3
psycopg2==2.9.10
pypdf2==3.0.1
python-docx==1.1.2
streamlit==1.39.0
uvloop==0.20.0
watchdog==5.0.3
watchfiles==0.24.0
websockets==13.1
